<mat-card class="hero-card">
  <mat-card-header>
    <mat-card-title>{{hero.name}}</mat-card-title>
    <mat-card-subtitle>Comics: {{hero.comics.available}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="GetImageUrl(hero.thumbnail)" alt="Photo of a superhero">
  <mat-card-content>
    <button mat-raised-button (click)="GoToWebsite(hero.urls)">Visit Website</button>
    <button mat-raised-button (click)="DeleteHeroById(hero.id)">Remove</button>
  </mat-card-content>
</mat-card>
