.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-container > * {
  width: 100%;
}

.hero-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.heros h1 {
  text-align: center;
}
